<title>New restaurant</title>

<h1> Enter data for new restaurant </h1>

<%= simple_form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Add a restaurant", class: "btn btn-primary" %>
<% end %>
